<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.launching.mavenLaunchParticipants">
      <mavenLaunchParticipant
            class="com.ifedorenko.m2e.mavendev.launch.ui.internal.M2ELaunchParticipant"
            id="com.ifedorenko.m2e.mavendev.launch.ui.mavenLaunchParticipant"
            modes="run,debug"
            name="Maven Build Progress View Support">
      </mavenLaunchParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.m2e.core.views.repositories"
            class="com.ifedorenko.m2e.mavendev.launch.ui.internal.views.BuildProgressView"
            icon="icons/progress_view.png"
            id="com.ifedorenko.m2e.mavendev.launch.ui.views.buildProgressView"
            name="Maven Build">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.ifedorenko.m2e.mavendev.launch.ui.views.buildProgressView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
