<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.m2e.launching.mavenLaunchParticipants">
     <mavenLaunchParticipant
           class="com.ifedorenko.m2e.tychodev.internal.MavenLaunchParticipant"
           id="com.ifedorenko.m2e.tychodev.mavenLaunchParticipant"
           modes="run,debug"
           name="Tycho Launch Participant">
     </mavenLaunchParticipant>
  </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="com.ifedorenko.m2e.tychodev.internal.launching.TychoITLaunchConfigurationDelegate"
           id="com.ifedorenko.m2e.tychodev.itLaunchType"
           modes="run,debug"
           name="Tycho Integration Test"
           public="true"
           sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
           sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="com.ifedorenko.m2e.tychodev.internal.launching.TychoITLaunchConfigurationTabGroup"
           id="com.ifedorenko.m2e.tychodev.itLaunchTabGroup"
           type="com.ifedorenko.m2e.tychodev.itLaunchType">
     </launchConfigurationTabGroup>
  </extension>
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="com.ifedorenko.m2e.tychodev.ITClasspathProvider"
          class="com.ifedorenko.m2e.tychodev.internal.launching.TychoITClasspathProvider"/>
      <classpathProvider 
          id="com.ifedorenko.m2e.tychodev.ITSourcepathProvider"
          class="com.ifedorenko.m2e.tychodev.internal.launching.TychoITSourcepathProvider"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.ifedorenko.m2e.tychodev.internal.launching.TychoITLaunchShortcut"
            id="com.ifedorenko.m2e.tychodev.itLaunchShortcut"
            label="Tycho IT"
            modes="run, debug"
            icon="icons/julaunch.gif">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
		                <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="org.apache.maven.it.Verifier"/>
		                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="com.ifedorenko.m2e.tychodev.itLaunchType">
         </configurationType>
      </shortcut>
   </extension>
</plugin>
